.container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
form{
  display: flex;
  flex-direction: column;
  width: min-content;
}
input{
  margin-top: 20px;
}
label{
  font-size: 10px;
}